<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW_xGR0CqWrEU33c1jNbDg45_nBSfA7BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>611935945594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPomodoro</string>
	<key>PROJECT_ID</key>
	<string>eduquest-a2922</string>
	<key>STORAGE_BUCKET</key>
	<string>eduquest-a2922.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611935945594:ios:4e632406a95ae04f50ccc3</string>
</dict>
</plist>